[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = MFC, Python, Algorithmn, C Samples with VS2019 for Windows
	state = hidden
[access "refs/*"]
	owner = group user/nenji (LINGSSOFT)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nenji (LINGSSOFT)
	label-Verified = -1..+1 group user/nenji (LINGSSOFT)
	push = group user/nenji (LINGSSOFT)
	read = group user/nenji (LINGSSOFT)
	rebase = group user/nenji (LINGSSOFT)
	removeReviewer = group user/nenji (LINGSSOFT)
	submit = group user/nenji (LINGSSOFT)
[access "refs/heads/*"]
	create = group user/nenji (LINGSSOFT)
	push = +force group user/nenji (LINGSSOFT)
	pushMerge = group user/nenji (LINGSSOFT)
	read = group user/nenji (LINGSSOFT)
[access "refs/tags/*"]
	push = group user/nenji (LINGSSOFT)
	push = +force group user/nenji (LINGSSOFT)
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
